$breakpoint-xxs: 381.98px;
$breakpoint-xs: 575.98px;
$breakpoint-s: 767.98px;
$breakpoint-m: 991.98px;
$breakpoint-l: 1199.98px;
$breakpoint-xl: 1399.98px;
$breakpoint-xxl: 1599.98px;

$bg-main: #222831;
$dark-grey: #393e46;
$aqua: #00adb5;
$smooth-white: #eeeeee;
$blue: #3f72af;
$orange: #f08a5d;
$light-grey: #dbe2ef;
$light-aqua: #a6e3e9;
$grey: #484e58;
$aqua-grey: #607d8b;
$light-blue: #61677a;
$dark-red: #952323;
